@inherits LayoutComponentBase

@*<div class="page">*@
<div style="background-color: #2A2A2F ">
<div class="page-background-class">
    <div class="main">



        <div class="p">
            @Body

        </div>
    </div>
    </div>
    </div>



